/* Estilos Viajes Chile*/

body {
  font-family: 'Raleway', sans-serif;
  background-color: black;
  margin: 0;
  padding: 0;

}

header {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  padding-bottom: 10rem;
}

.bg-dark{
  background-color: black !important;
}

hr{
  border-width: 0.1em;
}

/* .carousel-indicators {
  top: 50px;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
} */
